#node_modules
node_modules

#linting config
.eslintrc.js

#documentation
docs

#IDE config files 
.vscode
coverage.lcov
.gitignore

#Testing Reports
report*
coverage.lcov
.nyc_output
nyc
*.lcov
test
.travis.yml
coverage

